<!-- header bg Home -->
<section class="position-relative ">
<div class="mt-5 " >
  <!-- header bg image Home -->
  <i class="d-flex img-home-bg   CC-img-res imCC-Background-Cover w-100" style="height: 90vh;"></i>
  <!-- header bg Title Home -->
  <div class="position-absolute w-50 h-50 CC-media-header-title " dir="rtl">
    <!-- header Text -->
    <span class="font-Regular-s38 cCC-text-main CC-disable-res">
      <p>(أخطبوط ،، شغل مضبوط)</p>
    </span>
    <span class="cCC-text-white CC-text-title  font-Regular-s28 ">مرحبا بك في
      <span class="cCC-text-main CC-text-title">آخطبوط</span>
      تطبيق خدمة
      السيارات النهائي
      <span class=" CC-change-oil-text CC-text-title"> لتغيير الزيوت والفلاتر بشكل سلس ومضمون!</span>
    </span>
    <i class="d-flex ic-main-line  iC-s170"></i>
    <div class="CC-discritpion-header">
      <p class="font-Regular-s18 cCC-text-white mt-5 CC-respo-text " style="font-weight: 400;">

        تلتقي مميزات الراحة والتوفير والكفاءة مع <span class="cCC-text-main">أخطبوط</span> ، والذي يعتبر الحل الأمثل لتغيير الزيوت والفلاتر لسيارتك بكل
        سهولة ويسر مع كادر فنيين محترفين مما يضمن حصولك على خدمة مميزة من الدرجة الأولى من موقعك دون الحاجه الى الذهاب
        الى محلات الصيانة أو الانتظار.
      </p>
         <!-- header bg icons Home -->

    <div class="d-flex">
      <i class="d-flex ic-android iC-s174 imCC-Background-Contain"></i>
      <i class="d-flex ic-store  imCC-Background-Contain" style="height: 51px; width: 123px;"></i>
    </div>
  </div>
 
  </div>
</div>
</section>