<!-- header bg Home -->
<div class="position-relative " >
<!-- header bg image Home -->
  <i
    class="d-flex img-home-bg  vh-100 CC-img-res imCC-Background-Cover w-100"
  ></i>
<!-- header bg Title Home -->
<div
class="position-absolute w-50 h-50 CC-media-header-title "
style="
  top: 217px;
  right: 80px;
  font-style: normal;
  font-weight: 600;

"
dir="rtl"
>
<span class="font-Regular-s38 cCC-text-main CC-disable-res">
  <p>(أخطبوط ،، شغل مضبوط)</p>
</span>
<span class="cCC-text-white CC-text-title  font-Regular-s28 "

  >مرحبا بك في
  <span class="cCC-text-main">آخطبوط</span>  ،
  تطبيق خدمة
  السيارات النهائي
<span class=" CC-change-oil-text">لتغيير الزيت!</span>
  </span
>
<i class="d-flex ic-main-line  iC-s170"></i>
<span
  ><p class="font-Regular-s18 cCC-text-white mt-3 CC-respo-text " style="font-weight: 400;">
    تلتقي الكفاءة بالراحة مع QuickLube، الحل الأمثل لتغيير الزيت الخالي من
    المتاعب. قل وداعا للانتظار الطويل والمواعيد المرهقة. يربطك تطبيقنا
    المبتكر بشبكة من المهنيين الموثوق بهم، مما يضمن حصولك على خدمة من
    الدرجة الأولى دون مغادرة ممر سيارتك.
  </p></span
>
<!-- header bg icons Home -->

<div class="d-flex">
<i class="d-flex ic-android iC-s174 imCC-Background-Contain"></i>
<i class="d-flex ic-store  imCC-Background-Contain" style="height: 51px; width: 123px;"></i>
</div>
</div>
</div>
