<div class="CC-qr-container cCC-bg-support1 w-100 d-flex justify-content-center">
    <div class="row container h-100">
        <div class="col-xl-3  d-flex justify-content-center align-items-center" >
        <i class="d-flex ic-qr imCC-Background-Contain iC-s-135 CC-disable-res"></i>

    </div>
        <div class="col-xl-9 col d-flex justify-content-center align-items-center CC-qr-text" >
        <!-- <p class="m-0 font-Regular-s34 cCC-text-white mx-2" > "  سلسة</p>
        <p class="m-0 font-Regular-s34 cCC-text-white"style="text-decoration: underline; text-underline-offset: 20px;" >  من أجل رحلة </p>
        <p class="m-0 font-Regular-s34 cCC-text-white mx-2" > تغيير الزيوت والفلاتر    </p>

        <p class="m-0 font-Regular-s34 cCC-text-white mx-2" style="text-decoration: underline; text-underline-offset: 20px;">أخطبوط "تبسيط </p> -->
 <p class="m-0 CC-underline font-Regular-s34 cCC-text-white"> !"رحلة سلسة
 <span class="font-Regular-s34 cCC-text-white">تغييرات الزيت من أجل</span>
<span class="m-0 font-Regular-s34 cCC-text-white mx-2 CC-underline" > آخطبوط، “تبسيط </span></p>
</div>
<div class="d-none CC-new-text m-0 font-Regular-s24 cCC-text-white text-center mx-2"><p> أخطبوط تبسيط تغيير الزيوت والفلاتر من أجل رحلة سلسة</p></div>
    </div>
</div>
