<!-- QR Section -->
<section class="px-0 mt-5 pt-5">
    <div class="CC-qr-container cCC-bg-support1 w-100 d-flex justify-content-center px-0 mt-5">
        <div class="row container h-100 ">
            <!-- QR code img -->
            <div class="col-xl-3  d-flex flex-column justify-content-center align-items-center">
                <i class="d-flex mt-2  ic-qr imCC-Background-Contain position-relative iC-s-135 CC-disable-res">
                    <div class="CC-border-qr1"></div>
                    <div class="CC-border-qr2 position-absolute"></div>
                    <div class="CC-border-qr3 position-absolute"></div>
                    <div class="CC-border-qr4 position-absolute"></div>
                </i>
                <div class="mt-2 d-flex mt-2 gap-2 CC-disable-res">
                    <p class="cCC-text-white font-Regular-s14">امسح الكود للتحميل</p>
                </div>
            </div>
            <!-- QR Code Text -->
            <div class="col-xl-9 col d-flex justify-content-center align-items-center CC-qr-text">
                <p class="m-0  font-Regular-s34 cCC-text-white">
                    <span class="m-0 font-Regular-s34 cCC-text-white mx-2 CC-underline">  أخطبوط تسهيل </span>
                    <span class="m-0 font-Regular-s34 cCC-text-white mx-2">تغيير الزيوت من أجل </span>
                    <span class="m-0 font-Regular-s34 cCC-text-white  CC-underline">رحلة سلسة </span>
                </p>
            </div>
            <div class="d-none CC-new-text m-0 font-Regular-s24 cCC-text-white text-center mx-2">
                <p> أخطبوط تبسيط تغيير الزيوت والفلاتر من أجل رحلة سلسة</p>
            </div>
        </div>
    </div>
</section>
