.CC-qr-container {
  height: 220px;
}
.CC-underline {
  text-decoration: underline;
  text-underline-offset: 20px;
}
.CC-border-qr1{
  border-top: 3px solid white;
  border-left: 3px solid white;
  height: 40px;
  width: 40px;
margin-left: -5px;
margin-top: -5px;}
.CC-border-qr2{
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  height: 40px;
  width: 40px;
margin-left: -5px;
margin-bottom: -5px;
bottom: 0;}
.CC-border-qr3{
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  height: 40px;
  width: 40px;
margin-right: -5px;
margin-bottom: -5px;
right: 0;
bottom: 0;}
.CC-border-qr4{
  border-top: 3px solid white;
  border-right: 3px solid white;
  height: 40px;
  width: 40px;
margin-right: -5px;
margin-top: -5px;
right: 0;
top: 0;}
// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 1200.98px) {  .CC-disable-res {
  display: none !important;
}
.CC-underline {
display: flex;
  text-decoration: none;
  text-underline-offset: 20px;
}
.CC-qr-text {
display: none !important;
}
.CC-new-text{
display: inline !important;
} }
// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {   .CC-disable-res {
  display: none !important;
}
.CC-underline {
display: flex;
  text-decoration: none;
  text-underline-offset: 20px;
}
.CC-qr-text {
display: none !important;
}
.CC-new-text{
display: inline !important;
} }
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .CC-disable-res {
    display: none !important;
  }
  .CC-underline {
display: flex;
    text-decoration: none;
    text-underline-offset: 20px;
  }
  .CC-qr-text {
display: none !important;
  }
.CC-new-text{
display: inline !important;
}
}


