// section{
//   margin-top: 96px !important;
//   border: 1px solid red;
// }
.CC-border{
width: 65px !important;
height: 64px;
background-color: rgba(19, 45, 70, 0.1);
border-radius: 10px;
}

// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { .CC-full-w-text{
  width: 100% !important;

  }
  .CC-row-res{
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 100% !important;
  }
  .CC-res-img{
    width: 400px !important;
    height: 350px !important;
    }
  .CC-res-text{
  text-align: center;
  }
  .CC-res-col{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;


  }
  .CC-border{
  width: 150px;
  } }
// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { .CC-full-w-text{
  width: 100% !important;
  }
  .CC-res-img{
    width: 250px;

  }
  .CC-res-img{
  width: 315px !important;
  height: 280px !important;
  }
  .CC-res-text{
  text-align: center;
  }
  .CC-border{
  width: 150px;
  } }


  // `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .CC-res-img{
    width: 100% !important;
    }
  .CC-full-w-text{
  width: 100% !important;

  }
  .CC-res-img{
  width: 315px;
  height: 250px;
  }
  .CC-res-text{
  text-align: center !important;

  }
  .CC-border{
  width: 150px;
  }
  .CC-res-col{
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;


  }
    }
