<!-- How To Use Section -->
<section class="container px-0 mt-5 pt-5" >
    <div class="d-flex justify-content-center text-center ">
        <div class="w-50 text-center CC-full-w-text" >
            <div class="w-100 d-flex justify-content-center mb-3">
                <i class="d-flex ic-how-to-use imCC-Background-Cover iC-s39"></i>
            </div>
            <p class="font-SemiBold-s28"><span> طريقة الاستخدام</span></p>
            <p>
                <span class="font-Regular-s18 cCC-text-secondery">
                    قم بتنزيل التطبيق اليوم ودعنا نعتني باحتياجات تغيير الزيت في سيارتك بكفاءة وخبرة. مع أخطبوط جرب
                    عملية تغيير الزيوت والفلاتر بكل يسر وسهولة
                </span>
            </p>
        </div>
    </div>
    <div class=" row  CC-row-res mt-3 pt-5" >
        <div class="col">
            <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                <i class="img-how-to-use-bg d-flex   imCC-Background-Contain iC-s-450 CC-res-img"></i>
                <div class="d-flex pt-5">
                    <i class="d-flex ic-android iC-s174 imCC-Background-Contain"></i>
                    <i class="d-flex ic-store  iC-s-123 imCC-Background-Contain" ></i>
                </div>
            </div>

        </div>
        <div class="col CC-res-col px-0">
            <div class="CC-res-text" dir="rtl">
                <p class="m-0 font-Regular-s28">كيف تستتخدم تطبيق <span class="cCC-text-main">آخطبوط</span></p>
                <p class="m-0 font-Regular-s18 cCC-text-secondery"> قم بتنزيل التطبيق اليوم ودعنا نعتني باحتياجات تغيير
                    الزيت في سيارتك بكفاءة وخبرة</p>
            </div>
            <div dir="rtl" class="d-flex mt-5 align-items-center" *ngFor="let item of itemsDetails">
              <div class="">
                <div class="CC-border d-flex justify-content-center align-items-center">
                  <i class="ic-corect-mark d-flex iC-s-32"></i>
                </div>
              </div>
                <div class="p-2">
                    <p class="m-0 font-Regular-s18" style="font-weight: 700;">{{ item.title }}</p>
                    <p class="m-0 mt-2 font-Regular-s14" style="font-weight: 600; color:#6A6E79 ;">{{ item.description
                        }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
