<div class="container-fluid">
    <div
        class="CC-terms-header text-center d-flex flex-column justify-content-center align-items-center  cCC-bg-support1">
        <div class="mt-5">
            <p class="m-0 cCC-text-white font-Regular-s28" style="font-weight: 600;"> عن أخطبوط</p>
            <p class="m-0 cCC-text-white font-Regular-s18">اخر تحديث 16 مايو 2023</p>
        </div>
    </div>

    <div class="px-5 " dir="rtl">
        <div class="w-75">
            <h1 class="font-SemiBold-s20">الشروط والأحكام العامة لاستخدام (أخطبوط) للعملاء</h1>
            <p class="font-Regular-s14">تطبيق (أخطبوط) منصة إلكترونية مملوكة لشركة عناية السيارة لتقنية المعلومات
                المسجلة
                رسمياً في المملكة العربية
                السعودية بسجل تجاري رقم: 1010886229وتقوم المنصة بتوفير خدمات العناية بسيارات العملاء حسب المكان والزمان
                الذي
                يحدده العميل.</p>
            <p class="font-Regular-s14">تعتبر هذه الاتفاقية -اتفاقية الشروط والأحكام- اتفاق رسمي بين منصة (أخطبوط)
                والعملاء
                المستخدمين لمنصة أخطبوط
                الراغبين بالاستفادة من الخدمات المتاحة فيها.</p>
            <p class="font-Regular-s14">استخدامك للتطبيق يستلزم أن تكون قد وافقت على هذه الاتفاقية، وبذلك انت تقر وتوافق
                أن
                أي استخدام يتم من قبلك أو
                من قبل جهازك أو حسابك أو رقم يعود لك لأي من الخدمات التي توفرها منصة أخطبوط يعتبر موافقة منك على هذه
                الاتفاقية وأحكامها، وبناءً على ذلك يجب عليك عدم استخدام التطبيق في حال لم تكن موافقاً على هذه الاتفاقية
                أو
                على شيء مما تضمنته هذه الاتفاقية.</p>
            <p class="font-Regular-s14">هذه الاتفاقية قابلة للتعديل والتغيير من قبلنا وسنقوم بالإشعار عن أي نسخة محدثة
                منها
                في التطبيق، وستدخل
                التحديثات الواردة في الاتفاقية حيز التنفيذ بعد سبعة أيام من تاريخ الإشعار، وبعد مرور هذه المدة سيعد
                استمرارك
                في استخدام التطبيق موافقة منك بما تضمنته هذه التحديثات من أحكام جديدة.</p>
        </div>
        <div class=" w-75">
            <ul class="">
                <h2 class="font-Regular-s18">تعريفات</h2>

                <li class="font-Regular-s14">
                    أنت صيغة المخاطب: العميل المستفيد من خدمات المنصة، وتراعى كافة التعبيرات المؤدية إلى ذلك.
                </li>
                <li class="font-Regular-s14">
                    العميل: هو كل مستخدم مسجل في المنصة بغرض الاستفادة من أي خدمة مقدمة في المنصة.
                </li>
                <li class="font-Regular-s14">
                    المستخدم: يقصد بالمستخدم كل من له إمكانية الوصول إلى المنصة والاستفادة منها.
                </li>
                <li class="font-Regular-s14">
                    نحن صيغة المتحدث: تعني شركة عناية السيارة لتقنية المعلومات أو مايمثلها قانونيا.
                </li>
                <li class="font-Regular-s14">
                    أخطبوط: تعني شركة عناية السيارة لتقنية المعلومات أو مايمثلها قانونيا.
                </li>
                <li class="font-Regular-s14">
                    المنصة: تطبيق أو موقع أخطبوط الذي من خلالهما يتمكن العميل من الاستفادة من خدمات أخطبوط.
                </li>
                <li class="font-Regular-s14">مقدم الخدمة: العمالة والفنيين التابعين للمنصة لتقديم خدمات العناية بالسيارة
                    وهم: فنيي السيارات.</li>
                <li class="font-Regular-s14"> المحتوى: تعني أي مراجعات، تعليقات، رسائل، بيانات، معلومات شخصية، نص،
                    موسيقى، صوت، صورة، إعلان،
                    خدمة، منتج، رسم، فيديو، رابط إلكتروني، رمز أو غيرها من المواد التي يتم مشاركتها أو نشرها أو عرضها
                    على المنصة سواءً كانت من إعداد المنصة أو من إعداد العميل أو مستخدم آخر.</li>
                <li class="font-Regular-s14">الاتفاقية: تعني هذه الاتفاقية -اتفاقية الشروط والأحكام- والتي قد تخضع
                    للتعديل أو التغيير من وقت إلى
                    آخر، والتي تحدد قواعد الاستخدام المشروع للمنصة.</li>

            </ul>
        </div>
        <div class="w-75">
            <ul>
                <h2 class="font-Regular-s18">الشروط والأحكام الخاصة العامة للاستخدام</h2>

                <li class="font-Regular-s14">أن يكون العميل مكتسب للأهلية الشرعية والقانونية، وألا يقل عمره عن 18 في
                    حال كان شخصاً طبيعيا،
                    ويلزم كل من كان أقل من 18 عاماً أو كان ناقص الأهلية باستخدام التطبيق تحت رقابة وليه وتحت
                    مسؤوليته.</li>
                <li class="font-Regular-s14">يتعهد العميل بأنه يتمتع بالحق والقدرة القانونية على استخدام موقع وتطبيق
                    (أخطبوط) حسب ما هو منصوص
                    عليه في هذه الشروط والأحكام.</li>
                <li class="font-Regular-s14">ألا يكون العميل منافساً لـ أخطبوط أو يكون مقدماً لخدمات منافسة للخدمات
                    المقدمة من أخطبوط وعند
                    مخالفة هذا البند فيلتزم المخالف بتعويضنا عن أي استغلال للمنصة بأي طريقة كانت.</li>
                <p class="font-Regular-s18 pt-2">يقر العميل بأن استخدامه للمنصة سيكون حسب ما هو منصوص عليه في الشروط
                    التالية:</p>
                <li class="font-Regular-s14">
                    لن يقوم بنسخ، تحميل، إعادة إنتاج، إعادة نشر، تأطير، بث، أو إرسال بأي شكل من الأشكال أي من
                    المحتوى التي توفره المنصة باستثناء الاستخدامات الاعتيادية الشخصية غير التجارية فقط.
                </li>
                <li class="font-Regular-s14">
                    يلتزم العميل بعدم القيام بأي شيء يكون من شأنه التأثير على تشغيل المنصة أو يتسبب في انزعاج غير
                    منطقي أو إساءة أو تعطيل أي منالمستخدمين الآخرين أو العاملين لدينا.
                </li>
                <li class="font-Regular-s14">
                    يجب ألا يكون العميل قد سبق منعه أو حظره من استخدام المنصة.
                </li>
                <li class="font-Regular-s14">
                    يجب على العميل أن يمتثل لكافة القوانين واللوائح المعمول بها داخل الدولة التي تم تقديم الخدمة
                    فيها.
                </li>
                <li class="font-Regular-s14">
                    يجب أن يقدم العميل معلومات صحيحة ودقيقة للمنصة كما يجب عليه الالتزام لأي إشعارات تقوم بها المنصة
                    فيما يخص الخدمات التي تقدمها لضمان عدم تعرقل أي عمليات تشغيليه.
                </li>
                <li class="font-Regular-s14">
                    يجب ألا يكون استخدام العميل لخدمات المنصة يهدف لإيذاء أو مضايقة او إزعاج لأي شخص كان.
                </li>
                <li class="font-Regular-s14">
                    يجب على العميل المحافظة على كامل المحتويات والأرقام السرية للدخول لحسابه بشكل آمن.
                </li>
                <li class="font-Regular-s14">
                    يحق للمنصة رفض تقديم أي خدمه أو استخدام للتطبيق دون أي تعويض أو أن تبرر الأسباب.
                </li>
                <li class="font-Regular-s14">
                    جب على العميل أن يمتنع عن استخدام المنصة بأي شكل قد يؤدي إلى استخدام أي طرف آخر للمنصة على نحو
                    يخالف، أو من المحتمل أن يخالف أي قوانين مرعية ومطبقة، أو حقوق أو استحقاقات قانونية لأي طرف آخر
                    وذلك طبقا لكافة القوانين المطبقة.
                </li>
                <p class="font-Regular-s18 pt-2">يلتزم العميل بالامتناع عن الأمور التالية:</p>
                <li class="font-Regular-s14">
                    استخدام عملية آلية لمعالجة، مراقبة، نسخ، استخراج أي صفحات موجودة على المنصة، أو أي معلومات، أو
                    محتوى أو بيانات يحتويها أو يتم الوصول إليها عن طريق المنصة، دون الحصول على موافقة خطية مسبقة من
                    قبلنا.
                </li>
                <li class="font-Regular-s14">
                    استخدام عملية آلية لتجميع أو دمج المعلومات، أو المحتوى أو البيانات التي يحتويها أو يمكن الوصول
                    إليها عن طريق المنصة مع المعلومات أو المواد أو البيانات التي يتم الوصول إليها أو التي يكون
                    مصدرها طرف ثالث.
                </li>
                <li class="font-Regular-s14">
                    استخدام أي عملية آلية للتدخل أو محاولة التدخل في طريقة العمل السليمة للمنصة.
                </li>
                <li class="font-Regular-s14">
                    القيام بأي فعل يكون من شأنه فرض حمل كبير بشكل غير منطقي أو غير متناسب مع البنية التحتية المتاحة
                    أو النطاق الترددي للمنصة
                </li>
                <li class="font-Regular-s14">
                    تطبيق هندسة عكسية، أو جمع عكسي، أو تفكيك، أو عمل أي عمل آخر من شأنه اكتشاف رمز مصدري أو غيره من
                    الصيغ الحسابية أو المعالجات فيما يخص برنامج الحاسوب المستخدم في البنية التحتية والعمليات
                    المتعلقة بالمنصة.
                </li>
                <li class="font-Regular-s14">
                    نسخ، إعادة إنتاج، تغيير، تعديل، اشتقاق أعمال أو إقامة عرض عام، لأي جزء من محتوى المنصة دون
                    الموافقة الخطية المسبقة من قبلنا.
                </li>
                <li class="font-Regular-s14">
                    يعتبر عنوان البريد الإلكتروني ورقم الهاتف وأي عناوين أخرى تابعة للعميل وسيلة رسمية للتواصل
                    والإشعارات ويتم من خلال الإشعار بواسطتها قيام الحجة على تبليغ العميل.
                </li>
            </ul>
        </div>
        <div class="w-75">

            <ul>
                <h2 class="font-Regular-s18 ">المحتوى</h2>
                <p class="font-Regular-s14">بتقديمك أي محتوى للمنصة فإنك تمنحنا ترخيصاً مجانياً، ودائماً، وقابلاً
                    للتحويل، وعالمياً، غير قابلاً للنقض، من أجل الاستفادة منه على هذا النحو:</p>
                <li class="font-Regular-s14">
                    استخدامه، وإعادة إنتاجه، وتعديله، وتحريره، وتكييفه، وترجمته، وتوزيعه، ونشره، ونسخه، وبثه وتوصيله
                    بأي شكل من الأشكال، وفي أعمال مقتبسة منه لعرضه أو أدائه أمام جمهور في أي مكان في العالم ومن خلال
                    أي وسيلة إعلامية، معروفة الآن أو يتم ابتداعها مستقبلاً.
                </li>
                <li class="font-Regular-s14">
                    استخدام الاسم -اسم العميل- الذي قمت بتقديمه بالترابط مع المحتوى، كما تمنحنا رخصة للملاحقة
                    القانونية لأي شخص حقيقي أو اعتباري يخالف حقوقك أو حقوقنا في هذا المحتوى، وأنت تقر وتوافق على أن
                    جميع المحتوى المقدم للمنصة من قِبلك هو غير سري وغير مملوك لشخص آخر، كما تلتزم بتنفيذ كافة
                    المتطلبات، وتزويدنا بجميع الوثائق المطلوبة لتمكيننا والسماح لنا بالاستفادة المطلقة من الحقوق
                    الممنوحة لنا حسب المتطلبات.
                </li>
                <li class="font-Regular-s14">
                    المنصة لها الخيار في استخدام محتوى العميل بأي شكل كان، ولا تعد ملزمة باستخدام أي محتوى للعميل
                    والاستفادة منه بشكل معين.
                </li>
                <li class="font-Regular-s14">في حال تم استخدام المحتوى بأي شكل كان من قبل الغير أو من قبلنا فنحن غير
                    مطالبون بأداء أي التزامات مالية تجاهك نتيجة هذا الاستخدام، سواءً كان هذا الاستخدام تجاري أو غير
                    تجاري.</li>
                <li class="font-Regular-s14">أنت وحدك مسؤول عن استخدامك للمنصة وكل استخدام لها يكون تحت مسؤوليتك
                    الخاصة.</li>
                <p class="font-Regular-s18 pt-2">باستخدامك للمنصة، فأنت توافق على عدم نشر، أو رفع، أو إرسال، أو توزيع، أو
                    تخزين، أو إيجاد أو النشر
                    بأي شكل من الأشكال، أو التسبب في النشر على المنصة بشكل مباشر أو غير مباشر عن طريق موقع وتطبيق
                    إلكتروني للغير أي من الأمور التالية:</p>
                <li class="font-Regular-s14">
                    محتوى غير قانوني، تشهير، ذم، قذف، أو أي تعبير مسيء لأي مجموعة دينية أو أخلاقية، محتوى فاضح،
                    إباحي، فاحش، بذيء، فيه إيحاءات، مضايقات، تهديدات، خرق لحقوق الخصوصية والنشر، عنيف، مثير
                    للحساسيات، احتيالي، أو غير مقبول بأي شكل من الأشكال.
                </li>
                <li class="font-Regular-s14">
                    محتوى يشكل، يشجع، يقدم تعليمات لمخالفة أو عمل مجرم، خرق حقوق أي طرف كان، أو يتسبب بأي شكل من
                    الأشكال في مسؤولية قانونية أو يخرق أي من القوانين المحلية أو الوطنية أو الدولية.
                </li>
                <li class="font-Regular-s14">
                    محتوى يتسبب في إزعاج أو مضايقة الآخرين.
                </li>
                <li class="font-Regular-s14">
                    محتوى لا تمتلكه أنت شخصيا دون إذن صريح من مالك ذلك المحتوى.
                </li>
                <li class="font-Regular-s14">
                    محتوى قد يتسبب في خرق أي براءة اختراع، علامة تجارية، سر تجاري، حقوق التأليف والنشر، أو غيرها من
                    الحقوق الفكرية أو الملكية لأي طرف.
                </li>
                <li class="font-Regular-s14">
                    محتوى ينتحل شخصية أي شخص حقيقي أو اعتباري أو يتسبب بأي شكل من الأشكال في ادعاء كاذب بتبعية لذلك
                    الشخص الحقيقي أو الاعتباري، بما في ذلك نحن.
                </li>
                <li class="font-Regular-s14">
                    مواد ترويجية غير مرغوبة، حملات سياسية، إعلانات خارج اختصاص المنصة، المسابقات، السحوبات، أو تقديم
                    عروض.
                </li>
                <li class="font-Regular-s14">
                    معلومات خاصة بطرف ثالث، وعلى سبيل المثال لا الحصر، اسم العائلة، عنوان، أرقام هواتف، عناوين بريد
                    إلكتروني، وأرقام بطاقات ائتمان.
                </li>
                <li class="font-Regular-s14">
                    فيروسات، بيانات مخربة، ملفات أخرى تتسبب في أضرار، أو أعطال أو تخريب.
                </li>
                <li class="font-Regular-s14">
                    محتوى غير مرتبط بالخدمات المقدمة بالمنصة، أو محتوى أو وصلات إلى محتوى نعتبره وبناء على حكمنا
                    المطلق بأنه يخرق أي بند من البنود المذكورة أعلاه أو أنه غير مقبول، أو يحد أو يمنع أي شخص آخر من
                    استخدام أو التمتع باستخدام المنصة.
                </li>
                <li class="font-Regular-s14">
                    محتوى يتسبب في تعريضنا بأي شكل من الأشكال نحن أو أي من شركاتنا الفرعية، أو المستخدمين الآخرين
                    للضرر أو المساءلة القانونية بأي شكل من الأشكال.
                </li>
                <li class="font-Regular-s14">لا نتحمل مسؤولية أي محتوى ينشره المستخدمون، يرفعونه، يبثونه، يوزعونه،
                    يخزنونه، يوجدونه، ينشرونه بأي شكل من الأشكال، أو يتسببون في نشره على المنصة مباشرة أو من خلال
                    موقع وتطبيق إلكتروني للغير، والمستخدم وحده المسؤول عما يقوم بنشره.</li>
                <li class="font-Regular-s14">لا نتحمل أي مسؤولية عن أي محتوى يتم نشره أو تخزينه أو رفعه في المساحات
                    التفاعلية من قبلك أو من
                    قبل أي طرف ثالث، أو عن أي خسارة أو أضرار ناجمة عن ذلك.</li>
                <li class="font-Regular-s14">لا نتحمل مسؤولية أية أخطاء، ذم، تحقير، تشهير، سهو، أكاذيب، إساءة،
                    إباحية، أو شتائم قد تصادفك أثناء استخدامك للمساحات التفاعلية.</li>
                <li class="font-Regular-s14">
                    لا نتحمل أية مسؤولية عن أي عبارات، تعهدات أو محتوى يقدمه المستخدمون في أي صفحة في المنصة، ورغم
                    أننا غير ملزمون بمسؤولية فرز أو تحرير أو متابعة أي من المحتوى الذي يتم نشره أو توزيعه من خلال
                    المساحات التفاعلية، فإننا وطبقاً لتقديرنا المطلق، من الممكن أن نزيل، نفرز، نرفض نشر أو تحرير،
                    -دون تنبيه مسبق- أي محتوى تم نشره أو تخزينه عن طريق المنصة في أي وقت ونتيجة لأي سبب، وتكون أنت
                    وحدك فقط مسؤولاً عن إنشاء نسخ احتياطية أو استبدال المحتوى الذي نشرته أو حفظته على المنصة على
                    نفقتك الخاصة.
                </li>
                <li class="font-Regular-s14">يؤدي استخدامك المساحات التفاعلية أو غيرها من صفحات المنصة على نحو يخرق بنود
                    الشروط والأحكام
                    المبينة هنا إلى تحميلك المساءلة القانونية، ولا تقتصر المساءلة على إنهاء أو تعليق حقوق استخدامك
                    المساحات التفاعلية أو المنصة، وضماناً للتعاون مع الطلبات الحكومية المشروعة، واستدعاءات وأوامر
                    المحكمة، وحماية للمستخدمين الآخرين، وأنظمتنا، فإننا قد نقوم بالوصول إلى والإفصاح عن أية معلومات
                    نعتقد أنها ضرورية أو مناسبة، بما في ذلك، على سبيل المثال لا الحصر، معلومات ملف المستخدم الخاص بك
                    (الاسم، عنوان البريد الإلكتروني، إلخ)، عنوان بروتوكول الإنترنت، ومعلومات المرور، وتاريخ
                    الاستخدام، والمحتوى الذي تم تقديمه للمنصة، ويكون حقنا في الإفصاح عن أية معلومات من هذا النوع
                    مقدماً على وسابقاً لالتزامنا ببنود سياسة الخصوصية.</li>
                <li class="font-Regular-s14">
                    إذا كانت لديك أية شكاوى ناشئة عن المحتوى الذي قام مستخدم بنشره أو رفعه، أو بثه، أو توزيعه، أو
                    حفظه، أو إيجاده، أو تسبب بأي شكل من الأشكال بنشره على المنصة مباشرة أو عن طريق موقع وتطبيق
                    إلكتروني للغير، فعليك تباشر الشكوى ضد ذلك المستخدم وليس ضدنا نحن حيث أننا نعتبر طرف وسيط ومنصة
                    ربط، لا تتحمل مسؤولية تجاوزات المستخدمين
                </li>


            </ul>
        </div>
        <div class="w-75">
            <ul>
                <h2 class="font-Regular-s18">المواقع الإلكترونية للغير</h2>

                <li class="font-Regular-s14">المنصة غير مسؤولية عن أي محتوى أو موقع وتطبيق إلكتروني للغير تم إضافته في
                    المنصة من طرف عميل أو
                    مستخدم للمنصة، ولا تتحمل المنصة أي تبعات قانونية، ولا تقدم ضمانات أو تعهدات أو التزامات مهما كانت،
                    وذلك فيما يخص نوعية، ودقة، وقابلية بيع، أو ملاءمة المحتوى للغرض منه أو أن المحتوى المتوفر في المنصة
                    أو من خلال المواقع الإلكترونية للغير لا يخالف حقوق الملكية الفكرية لأي شخص.</li>
                <li class="font-Regular-s14">
                    أي تعامل يتم خارج المنصة بينك وبين أي طرف آخر، بما في ذلك الدفع مقابل أو توصيل المنتجات أوتنفيذ
                    الخدمات أو أي شروط وأحكام وضمانات أو تعهدات مرتبطة بتلك التعاملات، فإنها تتم بينك وبين الطرف الآخر
                    أيا كان، وعليه فإننا لا نتحمل أية مسؤولية أو التزام نتيجة الخسارة أو الأضرار من أي نوع والتي حدثت
                    نتيجة لمثل هذه التعاملات.
                </li>
            </ul>
        </div>
        <div class="w-75">
            <ul>
                <h2 class="font-Regular-s18"> الملكية الفكرية</h2>

                <li class="font-Regular-s14">إن حقوق النشر وكافة حقوق الملكية الفكرية الأخرى للمحتوى المتاح في المنصة هي
                    ملك لنا أو لمالكيه المانحين رخصة استغلاله للمنصة، ويحظر على العميل انتهاك حقوق هذا المحتوى.</li>
                <li class="font-Regular-s14">يجوز لك استخدام هذه المادة أو المحتوى فقط على النحو المصرح به خطّيا من
                    قبلنا أو من قبل مالكيه، ولا يحق لك نسخ أو تقليد هذا المحتوى ولا المساعدة أو تسهيل عمل الغير في ذلك
                    أو في إعادة إنتاجه، بثه، أو توزيعه، أو استخدامه على أي نحو كان.</li>
                <li class="font-Regular-s14">إذا علمت بوجود توزيع أو استغلال تجاري من أي نوع لأي محتوى مملوك لنا، فأنت
                    ملزم على إعلامنا بذلك مباشرة.</li>
                <li class="font-Regular-s14">يحق للمنصة من أجل الأغراض الدعائية والتسويقية الانتفاع باستخدام المحتوى
                    الذي قام العميل بمشاركته على المنصة وكان بطبيعة الحال ظاهر لجميع مستخدمي المنصة على سبيل المثال
                    الاسم وصور المنتجات أو الطرود، ولا يحق للعميل المطالبة بالتعويض أو أرباح من ذلك.</li>
                <p class="font-Regular-s14">في حال تم التوصل إلى امتلاكك لأي حقوق أدبية للمحتوى، فإنك طبقاً لذلك تسمح
                    بما يلي:</p>
                <li class="font-Regular-s14">
                    المنصة غير ملزمة باستخدام أي معلومات تعريف شخصية فيما يتعلق بنسبة المحتوى، أو أي أعمال مشتقة منه، أو
                    تحديثات أو تحسينات يتم إجراؤها عليه.
                </li>
                <li class="font-Regular-s14">
                    ليس لديك أي اعتراض على نشر، استخدام، تعديل، حذف، والاستفادة من المحتوى من قبلنا أو من قبل شركاتنا
                    الفرعية، أو المرخصين، أو المالكين اللاحقين، أو المتنازل لهم.
                </li>
                <li class="font-Regular-s14">
                    تقر أنك وإلى الأبد تتنازل عن، وتوافق على، عدم ادعاء أو تأكيد أي حقوق أدبية خاصة بالمؤلف في المحتوى
                    أو أي من أجزائه.
                </li>
                <li class="font-Regular-s14">
                    تقر أنك وإلى الأبد تعفينا وتعفي كل الجهات التابعة لنا، والمرخصين، والمالكين اللاحقين، أو المتنازل
                    لهم من أي مطالبات قد تطالبنا بها نتيجة وجود أي حقوق أدبية من أي نوع.
                </li>
            </ul>
        </div>
        <div class="w-75">
            <ul>
                <h2 class="font-Regular-s18">المسؤولية عن المعلومات التي تقدمها المنصة</h2>

                <li class="font-Regular-s14">
                    مع التقيد بالمسؤوليات التي يقررها القانون والتي لا يمكن استثناؤها، فإننا وكل من مديرينا، أو موظفينا،
                    أو وكلائنا، أو المتعاقدين معنا، لا نتحمل أي مسؤولية تجاهك نتيجة أي خسائر، أضرار، مسؤوليات، مطالبات،
                    أو تكاليف (بما في ذلك دون تقييد ودون حصر التكاليف القانونية ورسوم الدفاع والتقاضي أو تكاليف التسوية)
                    نتجت حال قيامك باستعمال المنصة أو نتجت بعد تنفيذ الخدمة المقدمة لك بأي شكل من الأشكال أو وجه من
                    الوجوه، سواء على نحو مباشر، أو غير مباشر، أو كنتيجة ناشئة عن أو راجعة إلى الوصول إلى المنصة من قبلك،
                    أو محتوى، أو موقع وتطبيق إلكتروني للغير، أو خدمات الغير، بأي شكل نتجت، سواء في عقد، أو ضرر (بما في
                    ذلك الإهمال)، أو قانون، أو غير ذلك.
                </li>
                <li class="font-Regular-s14">
                    نلتزم بالسعي الحثيث من أجل إحاطة المنصة بكافة أشكال العناية المنطقية، وباستثناء ما يلزم به القانون،
                    فإننا لن نتحمل مسؤولية النوعية والدقة، وملاءمة غرض محدد في المنصة، ولا نقدم وعداً بأن المادة التي
                    تحتويها المنصة، أو أي من الوظائف التي تحتويها أو أي من أجهزة الخادم لدينا سوف يعمل دون انقطاع أو
                    تأخير أو يكون دون أخطاء، وخاليا من الفيروسات أو الأخطاء البرمجية أو يعمل بتوافق مع أي برنامج آخر أو
                    مادة أخرى.
                </li>
                <li class="font-Regular-s14">
                    لا نتحمل مسؤولية تجاهك نتيجة أي خسائر أو أضرار قد تعاني منها أنت أو الغير نتيجة استخدام المنصة أو
                    نتيجة استخدام الخدمات المقدمة في المنصة أو فيما يتصل بقيامك باستخدام المنصة.
                </li>
                <li class="font-Regular-s14">
                    لا نتحمل مسؤولية تجاهك أو أي شخص آخر نتيجة أي خسارة ناجمة عن تنفيذ الخدمات، وهذا يتضمن تعطل أو تأثر
                    السيارات أو الأشخاص أو النباتات أو الأجسام الثابتة أو المتحركة أو المعدات التقنية أو الإلكترونية أو
                    الميكانيكية لك أو للغير أو المكان المحيط بتنفيذ الخدمة أو خطوط الاتصالات (بما في ذلك الهاتف،
                    والكابل، والإنترنت)، أو الوصول غير المشروع، أو الرموز المخربة، أو السرقة، أو أخطاء التشغيل، أو
                    الأحوال الجوية القاسية أو غير الاعتيادية (بما في ذلك الفيضانات، والزلازل، أو غيرها من الاحداث
                    الكونية أو الأحداث الخارجة عن الإرادة)، أو الحريق، أو الحرب، أو التمرد، أو الأعمال الإرهابية، أو
                    الشغب، أو الإضرابات العمالية، أو المشكلات العمالية الأخرى، أو الحوادث، أو الطوارئ، أو الجوائح أو
                    الأوبئة أو التأخير، أو الحجوزات الزائدة، أو الإلغاء، أو حالات الحداد على مستوى الدولة، أو عمل تقوم
                    به الحكومة.
                </li>
            </ul>
        </div>
        <div class="w-75">
            <ul>
                <h2 class="font-Regular-s18">السلامة</h2>

                <li>نتعهد بالتزامنا المستمر من خلال سياستنا الخاصة بالسلامة بإتاحة استخدام موثوق للمنصة.</li>
            </ul>
        </div>
        <div class="w-75">
            <ul>
                <h2 class="font-Regular-s18">التعويضات</h2>

                <li class="font-Regular-s14">تقر وتوافق بتعويضنا نحن أو أي من الجهات المرتبطة بنا وموظفي، ومديري،
                    والعاملين لدينا و/أو لدى الجهات
                    المرتبطة بنا وبشكل فوري وعند الطلب، عن كافة المطالبات، والالتزامات، والخسائر، والتكاليف، بما في ذلك
                    الرسوم القانونية الناشئة عند ارتكابك أي خرق أو مخالفة لهذه الاتفاقية، أو عند تسببك بأي من الأضرار
                    الناشئة عن استخدامك للمنصة.</li>
            </ul>
        </div>
        <div class="w-75">
            <ul>
                <h2 class="font-Regular-s18">الإنهاء</h2>

                <li class="font-Regular-s14">
                    نحتفظ بحقنا في الإنهاء الفوري لاستخدامك للمنصة في حال قيامك بخرق بنود هذه الاتفاقية أو في حال
                    اعتقدنا بناء على أسباب منطقية أنك من الممكن أن تقوم بخرق بنود هذه الاتفاقية أو في حال قيامك بسلوك
                    نرى أنه وبناء على تقديرنا المطلق غير مقبول.
                </li>
            </ul>
        </div>
        <div class="w-75">
            <ul>
                <h2 class="font-Regular-s18">التواصل</h2>

                <li class="font-Regular-s14">في حال رغبت بإبداء أي تعليق موجه لنا حول المنصة أو في حال رغبت في توجيه أية
                    أسئلة تتعلق بذلك رجاء
                    تفضل بالتواصل معنا عن طريق الوسائل المتاحة والمعلنة على المنصة.</li>
            </ul>
        </div>
        <div class="w-75">
            <ul>
                <h2 class="font-Regular-s18">توفر المنصة</h2>

                <li class="font-Regular-s14">نظراً إلى تعرض الخدمات الإلكترونية إلى الانقطاع أو الانهيار، فإن الوصول إلى
                    المنصة يتوفر كما هو وفي
                    حالته الراهنة فقط.</li>
                <li class="font-Regular-s14">يحق لنا وبناء على تقديرنا المطلق، فرض حدود أو قيود على استخدامك للمنصة،
                    إضافة إلى ذلك ولأغراض الأمن،
                    ولأسباب تقنية، أو صيانة، أو قانونية أو تشريعية، أو نتيجة لأي خرق لهذه الاتفاقية، فإنه يحق لنا سحب
                    المنصة أو تعليق وصولك إليها، في أي وقت ودون أي سابق إنذار من طرفنا.</li>
            </ul>
        </div>
        <div class="w-75">
            <ul class="font-Regular-s14">
                <h2 class="font-Regular-s18"> أحكام عامة</h2>

                <li>في حال قررت أي محكمة أو مشرع بطلان أي بند من بنود هذه الاتفاقية أو أصبح غير قابل للتطبيق، فسيتم
                    إلغاء أو شطب أو إيقاف البند أو البنود محل القرار من هذه الاتفاقية، مع بقاء بقية البنود والأحكام
                    نافذة بشكل تام.</li>
                <li>المنازعات الناشئة عن استخدام المنصة أو تطبيق هذه الاتفاقية تخضع للقوانين المطبقة في المملكة العربية
                    السعودية، وتختص بنظرها الجهة المختصة في مدينة الرياض، وفي حال كان النزاع مبني على خدمة تم تقديمها في
                    دولة أخرى خارج السعودية فتختص محاكم بلد المدعى عليه بنظر النزاع ويفصل في النزاع وفق لقانون بلد
                    المحكمة ما لم يكن (أخطبوط) طرفاً في النزاع فيكون الاختصاص للمحكمة المختصة في مدينة الرياض وفي جميع
                    الأحوال يحق لـ أخطبوط في حال كان طرفاً في نزاع عدم التقيد بهذه المادة واللجوء لمحكمة بلد العميل أو
                    بلد المدعى عليه.</li>
                <li>تنطبق هذه الشروط والأحكام بين أخطبوط والعميل، ولا يحق لأي شخص آخر الاستفادة من هذه الأحكام والشروط.
                </li>
                <li>
                    نحتفظ بحقنا في الإحالة بأي شكل من الأشكال أو نقل أي أو كافة حقوقنا والتزاماتنا المنصوص عليها في هذه
                    الاتفاقية لطرف آخر.
                </li>
            </ul>
        </div>
        <div class="w-75">
            <ul class="font-Regular-s14">
                <h2 class="font-Regular-s18">شروط خاصة باستخدام خدمات صيانة السيارات</h2>

                <li>هناك بعض المتطلبات والأوراق الرسمية التي يتوجب عليك كعميل تقديمها لنتمكن من خدمتك كتوفير أوراق تثبت
                    ملكية السيارة أو رقم هيكل السيارة أو البطاقة الوظيفية وغيرها، وذلك لضمان تقديم الخدمة على أمثل وجه،
                    والتزاماً بالقوانين العاملة والمرورية.</li>
                <li>
                    لتعزيز الثقة والعلاقة القوية مع العملاء فإن المنصة تسعى دوما لتوفير المنتجات الأصلية فقط من
                    الموردين، أو منتجات من الدرجة الأولى والتي تعتبر دارجه في السوق .
                </li>
            </ul>
        </div>
        <div class="w-75">
            <ul class="font-Regular-s14">
                <h2 class="font-Regular-s18">الأسعار والدفع</h2>

                <li>الأسعار الظاهرة في التطبيق قد تختلف على حسب المنطقة أو الدولة، وتُعتمد الأسعار لكل خدمة قبل تأكيد
                    الطلب ويحتمل أن يختلف السعر بحسب المنطقة أو الدولة أو زمن طلب الخدمة أو عند تنفيذ الطلب أو عند
                    معاينة المشكلة كما أنه توجد أسعار ثابته لبعض الخدمات وهناك أسعار تعتمد على المسافة أو وقت الرحلة أو
                    عند إضافة العميل لمنتجات أخرى إضافيه عند تقديم الخدمة.</li>
                <li>
                    تشمل الرسوم قيمة الضرائب المعمول بها، وتكون جميع الرسوم التي تدفعها نهائية وغير قابلة للاسترداد، ما
                    لم تحدد المنصة خلاف ذلك.
                </li>
                <li>
                    في حال عدم دفع مبلغ الخدمة عن طريق حواله أو فيزا فيجب على العميل دفع قيمة الخدمة إلى مزود الخدمة
                    نقداً أو باستعمال جهاز الدفع الالكتروني وقبل تقديم الخدمة كما أن أي مبلغ يدفع لا يمكن استرداده.
                </li>
            </ul>
        </div>
        <div class="w-75">
            <ul class="font-Regular-s14">
                <h2 class="font-Regular-s18">المسؤولية القانونية</h2>

                <li>لا يتحمل أخطبوط أي مسؤولية عن أضرار نتجت بعد تنفيذ خدماتها للعميل في حال لم يقم العميل بتزويد المنصة
                    ببيانات السيارة كامله.</li>
                <li>أي ملاحظة على مزود الخدمة يجب تقديمها في تقييم خدمته لاتخاذ الاجراء اللازم بحقه من قبلنا كما أن
                    أخطبوط لا تتحمل أي سلوك أو إهمال أو جميع ما سبق من مزود الخدمة، ولا تقدم أي ضمانات تخص الخدمات
                    المقدمة على المنصة.</li>
                <li>يجب عليك الالتزام بجميع أنظمة الدولة التي تقوم باستخدام التطبيق فيها وأي خرق أو مخالفة للأنظمة أو
                    القوانين المرعية تكون أنت وحدك المسؤول عن أي تجاوز صدر منك أمام أي جهة نظامية أو شخصية طبيعية أو
                    اعتبارية.</li>
            </ul>
        </div>
        <div class="w-75">
            <ul class="font-Regular-s14">
                <h2 class="font-Regular-s18">سياسة الإلغاء والاسترجاع</h2>

                <li>لا يحق للعميل إلغاء أي خدمة بعد مرور 24 ساعة من تأكيد طلبه لها، وفي حال قام بإلغاء الطلب فيتوجب عليه
                    دفع غرامه قدرها 59 ريال سعودي، مالم يتم مباشرة تنفيذ الخدمة من قبل مزود الخدمة فلا يمكن للعميل إلغاء
                    الخدمة وملتزم بدفع كامل قيمتها، ويتحمل العميل مسؤولية إلغائه للخدمة والتعويض عن أي خسائر تكبدتها
                    المنصة أو مزودي الخدمة.</li>
                <li>في جميع الأحوال لا يجوز للعميل التراجع وطلب إلغاء الخدمة متى ما نفذت له واستفاد منها.</li>
            </ul>
        </div>
        <div class="w-75">
            <h2 class="font-Regular-s18">اتفاقية سياسة الخصوصية</h2>
            <ul class="font-Regular-s14">
                <h3 class="font-Regular-s16">المقدمة</h3>

                <li>يقصد (بشروط سياسة الخصوصية) طريقة جمع البيانات وطريقة حماية المعلومات الشخصية للمستخدمين، وتعد هذه
                    السياسة بغاية الأهمية.</li>
                <li>لا يعني المنصة أي معلومات شخصية لشخص محدد بعينه، وإنما يتم جمع المعلومات الشخصية من الراغبين
                    باستخدام المنصة بما في ذلك على سبيل المثال لا الحصر طلب الخدمات وتقديمها والتصفح أو القيام بالاتصال
                    هاتفياً أو بواسطة البريد الالكتروني بفريق خدمة العملاء لدينا، ويعد تزويد المستخدم لنا بمعلوماته
                    الشخصية موافقة منه بمعالجة هذه المعلومات وفقاً لبنود وشروط سياسة الخصوصية.</li>
                <li>قد يتم تعديل اتفاقية سياسة الخصوصية أو جزء منها في أي وقت، وسيتم نشر النسخة المعدلة على المنصة،
                    وتكون النسخة المعدلة من (سياسة الخصوصية) سارية المفعول بعد سبعة أيام من تاريخ نشرها، وبعد النشر
                    يعتبر استمرار المستخدم في استخدام المنصة التزاماً منه بالشروط والبنود الواردة في النسخة المعدلة من
                    سياسة الخصوصية، ورضاً منه في تطبيق التعديلات على بياناته الشخصية التي كان قد زودنا بها.</li>
                <li>من خلال استخدام المستخدم للمنصة فإنه يوافق على شروط سياسة الخصوصية، وتعد سياسة الخصوصية اتفاقية
                    ملزمة قانونياً، وإذا تمت إضافة أي ميزات أو أدوات جديدة إلى خدماتنا، فستخضع أيضا لهذه السياسة.</li>
                <li>سنقوم بحفظ معلومات المستخدم الشخصية، وسيتم استخدامها والكشف عنها وفقا لما تسمح به الأنظمة والقوانين
                    والأعراف واتفاقية الشروط والأحكام.</li>
                <li>سوف نقوم بطلب موافقة المستخدم دائماً قبل استخدام معلوماته الشخصية لأغراض غير تلك الأغراض الموضحة في
                    سياسة الخصوصية أو في بقية بنود اتفاقية الشروط والأحكام.</li>
                <li>في حال تسلم مزود الخدمة أي معلومات تخص العميل فإنه مسؤول عن حفظها وعدم إفشائها أو إساءة استخدامها
                    بأي حال من الأحوال</li>
            </ul>
        </div>
        <div class="w-75">
            <ul class="font-Regular-s14">
                <h3 class="font-Regular-s18">معلومات المستخدم</h3>

                <li>نقوم بجمع اسم المستخدم وعنوانه وعنوان بريده الإلكتروني ورقم هاتفه المحمول، ورقم هويته وبيانات حسابه
                    البنكي أو معلومات بطاقاته الائتمانية حسب الحاجة، وحاجتنا إلى هذه المعلومات لأجل تمكينه من الاستفادة
                    من خدماتنا، على سبيل المثال لا الحصر للتأكد من هويته والاتصال به وإصدار الفواتير، وتحويل المبالغ
                    واستلام الطلبات وتسليمها.</li>
                <li>قد نطلب من المستخدم تزويدنا برقم الحساب البنكي ورقم ومعلومات الهوية وتاريخ الميلاد، وذلك للتحقق
                    والتوثيق ولمراقبة الاحتيال والمخاطر والامتثال للمتطلبات القانونية والتنظيمية السارية وفق ما تنص عليه
                    أنظمة المملكة العربية السعودية.</li>
                <li>يقر المستخدم بمنح المنصة صلاحية الدخول إلى الكاميرا ومكتبة الصور الخاصة به لرفع الصور المطلوبة وذلك
                    ليتمكن من الاستفادة من خدمات المنصة بشكل أفضل.</li>
                <li>
                    نقوم بجمع المعلومات المتعلقة بالخدمات المقدمة وقياس الأداء، ويتضمن ذلك معلومات عن نشاط المستخدم مثل
                    كيفية استخدام خدماتنا وكيفية التفاعل مع الآخرين وغير ذلك.
                </li>
                <li>
                    نجمع معلومات خاصة بالجهاز عند تثبيت المنصة، ويتضمن ذلك معلومات مثل نوع الجهاز ومعلومات نظام التشغيل
                    ومعلومات المتصفح وعنوان بروتوكول الإنترنت (IP Address) ومعلومات شبكة الجوال بما في ذلك رقم الهاتف
                    ومعرفات الجهاز، ونجمع معلومات مواقع الجهاز إذا كان المستخدم منحنا صلاحية الوصول لموقعه.
                </li>
                <li>
                    نجمع المعلومات المتعلقة بطلب الخدمة وتقديمها وتنفيذها.
                </li>
                <h3 class="font-Regular-s18 pt-2">معلومات زوار المنصة ومستخدمي الدعم</h3>
                <li>عند قيامك بزيارة الموقع أو عند قيامك بتثبيت التطبيق على جهازك نقوم بجمع معلومات عن الاسم وعنوان
                    البريد الإلكتروني ومعلومات الجهاز ونظام التشغيل والمتصفح الذي تستخدمه واتصال الشبكة وعنوان
                    البروتوكول الخاص بك (IP Address) ومعلومات شبكة الجوال بما في ذلك رقم الهاتف ومعرفات الجهاز، ونجمع
                    معلومات مواقع الجهاز إذا كنت منحتنا صلاحية الوصول لموقعك، كما نقوم بجمع نص المحادثة من مستخدمي دعم
                    الدردشة.</li>
                <li>
                    نقوم بجمع معلومات رقم الهاتف وتسجيل المكالمات من مستخدمي الدعم عبر الهاتف، وذلك لقياس الأداء ورفع
                    مستوى الجودة.
                </li>
                <li>
                    نقوم بجمع هذه المعلومات عند زيارتك للمنصة أو عند التواصل معنا إما عن طريق البريد الإلكتروني أو الويب
                    أو الرسائل الفورية أو الهاتف كما نجمع أي معلومات إضافية قد تقدمها لنا، وتستخدم المنصة هذه المعلومات
                    لخدمتك وتحسين الخدمات وتطويرها والإجابة عن أية أسئلة قد تكون لديك.
                </li>
                <h3 class="font-Regular-s18 pt-2">معلومات من ملفات تعريف الارتباط وتقنية التعقب المشابهة</h3>
                <li>يتم إرسال ملفات تعريف الارتباط إلى الجهاز الخاص بك من موقع على شبكة الانترنت ويتم تخزينها على جهازك،
                    ونقوم بتخصيص ملف تعريف ارتباط مختلف لكل جهاز يتصل بالمنصة.</li>
                <li>نقوم باستخدام ملفات تعريف الارتباط للتعرف على جهازك وتزويدك بخدمات شخصية.</li>
                <li>قد نستخدم تقنيات وأساليب التتبع الآلية على التطبيق أثناء إجراء الاتصالات معك أو أثناء استخدامك
                    للتطبيق، وذلك لقياس الأداء وتحسين الخدمات.</li>
                <li>نقوم بتحليل واستخدام المعلومات التي لدينا لتقييم وتحسين خدماتنا والبحث والتطوير واختبار الخدمات
                    والميزات الجديدة، وإجراء أنشطة استكشاف الأخطاء وإصلاحها، ونقوم أيضا باستخدام المعلومات الخاصة بك
                    للرد عليك وإفادتك عند اتصالك بنا.</li>
                <h3 class="font-Regular-s18 pt-2">مشاركة المعلومات الشخصية مع طرف ثالث</h3>
                <li>قد يطلب منا في بعض الظروف من قبل الجهات الحكومية أو القضائية مشاركة المعلومات معهم أو مع طرف ثالث
                    للتحقق من مطالبات قانونية أو لتلبية متطلبات الأمن الوطني أو لتنفيذ الأحكام القضائية، أو غيرها، لذا
                    يحق للمنصة مشاركتهم المعلومات المطلوبة.</li>
                <li>يحق للمنصة القيام بمشاركة المعلومات الشخصية مع طرف ثالث للتحقيق أو لاتخاذ إجراءات بشأن الأنشطة غير
                    القانونية أو الاحتيالية المشتبه بها أو الحالات التي تنطوي على تهديدات محتملة للسلامة لأي شخص، أو في
                    حالات انتهاكات بنود اتفاقية الشروط والأحكام أو سياسة الخصوصية أو حسب ما تقتضيه الأنظمة والقوانين.
                </li>
                <li>
                    قد نقوم أيضا بمشاركة المعلومات الشخصية مع الجهات التي قد تتملك المنصة مستقبلاً سواء بالاندماج أو
                    الاستحواذ الكلي أو الجزئي.
                </li>
                <h3 class="font-Regular-s18 pt-2">أحكام عامة</h3>
                <li>عند انتهاء علاقتنا معك سنواصل تخزين النسخ المؤرشفة من معلوماتك لأغراض تجارية ولالتزامنا بالأنظمة
                    والقوانين.</li>
                <li>عند انتهاء علاقتنا معك سنواصل تخزين معلومات مجهولة المصدر مثل زيارات مواقع الويب بدون معرفات لتحسين
                    خدماتنا.</li>
                <li>نحتفظ بمعلوماتك بشكل آمن وذلك باتباع معايير عالية في إدارة أمن المعلومات لحماية المعلومات الحساسة
                    مثل المعلومات المالية وتفاصيل أي معلومات شخصية أخرى، وتطبق أنظمة أمن المعلومات الخاصة بنا على
                    الأشخاص والعمليات وأنظمة تكنولوجيا المعلومات على أساس إدارة المخاطر، ويقوم طرف ثالث مؤهل لإدارة
                    وسائل وآلية الدفع وتدقيقها.</li>
                <li>نؤكد لك أنه لا توجد طريقة إرسال عبر الإنترنت أو طريقة تخزين إلكتروني آمنة 100%، لذلك لا يمكننا ضمان
                    الأمان المطلق لمعلوماتك.</li>
                <li>يمكنك الاحتفاظ بجميع معلوماتك الشخصية ومعلومات سجل عملياتك ويمكنك الدخول إليها في أي وقت، كما نمنحك
                    صلاحيات محدودة من إعدادات حسابك للسماح لك بتصحيح أو تعديل أو حذف أو الحد من استخدام المعلومات
                    الشخصية الخاصة بك.</li>
                <li>قد يترتب على قيامك بحذف أو تقييد استخدام المعلومات الشخصية الخاصة بك، تعطيل الاستفادة من خدماتنا
                    بالشكل المرضي.</li>
            </ul>
        </div>
    </div>
</div>