<div class="container-fluid">
<div class="CC-terms-header text-center d-flex flex-column justify-content-center align-items-center  cCC-bg-support1">
<div class="mt-5">
<p class="m-0 cCC-text-white font-Regular-s28" style="font-weight: 600;">الشروط والأحكام</p>
<p class="m-0 cCC-text-white font-Regular-s18">اخر تحديث 16 مايو 2023</p>
</div>
</div>

<div class="" dir="rtl">
<p class="m-0 font-Regular-s28" style="font-weight: 600;">الشروط والأحكام الخاصة بنا</p>
<p class="m-0 font-Regular-s14 mt-3" style="font-weight: 600;">سياسة الخصوصية والأستخدام</p>
<ul  class="mt-3 font-Regular-s14" style="list-style-type:none;  ">
<li>الشروط والأحكام العامة لاستخدام (Okhtboot) للعملاء.</li>
<li> هي منصة إلكترونية مملوكة لشركة عناية السيارة لتقنية المعلومات المسجلة رسمياً في المملكة العربية السعودية بسجل تجاري رقم: 1010447431 وتقوم المنصة بتوفير خدمة صيانة سيارات (okhtboot)العملاء حسب المكان والزمان الذي يحدده العميل.</li>
<li>تعتبر هذه الاتفاقية -اتفاقية الشروط والأحكام- اتفاق رسمي بين منصة آخطبوط والعملاء المستخدمين لمنصة ORO الراغبين بالاستفادة من الخدمات المتاحة فيها.</li>
<li>استخدامك للتطبيق يستلزم أن تكون قد وافقت على هذه الاتفاقية، وبذلك انت تقر وتوافق أن أي استخدام يتم من قبلك أو من قبل جهازك أو حسابك أو رقم يعود لك لأي من الخدمات التي توفرها منصة ORO يعتبر موافقة منك على هذه الاتفاقية وأحكامها، وبناءً على ذلك يجب عليك عدم استخدام التطبيق في حال لم تكن موافقاً على هذه الاتفاقية أو على شيء مما تضمنته هذه الاتفاقية.</li>
<li>هذه الاتفاقية قابلة للتعديل والتغيير من قبلنا وسنقوم بالإشعار عن أي نسخة محدثة منها في التطبيق، وستدخل التحديثات الواردة في الاتفاقية حيز التنفيذ بعد سبعة أيام من تاريخ الإشعار، وبعد مرور هذه المدة سيعد استمرارك في استخدام التطبيق موافقة منك بما تضمنته هذه التحديثات من أحكام جديدة.
  </li>
</ul>
<p class="m-0 font-Regular-s14 mt-3" style="font-weight: 600;">  تعريفات</p>
<ul class="mt-3 font-Regular-s14">
<li>أنت صيغة المخاطب: العميل المستفيد من خدمات المنصة، وتراعى كافة التعبيرات المؤدية إلى ذلك.</li>
<li>العميل: هو كل مستخدم مسجل في المنصة بغرض الاستفادة من أي خدمة مقدمة في المنصة.</li>
<li>المستخدم: يقصد بالمستخدم كل من له إمكانية الوصول إلى المنصة والاستفادة منها سواءً كان عميل أو مزود خدمة.</li>
<li>نحن صيغة المتحدث: تعني شركة سلاسل الإنشاءات لتقنية المعلومات أو مايمثلها قانونيا.</li>
<li>أنت صيغة المخاطب: العميل المستفيد من خدمات المنصة، وتراعى كافة التعبيرات المؤدية إلى ذلك.</li>
<li>العميل: هو كل مستخدم مسجل في المنصة بغرض الاستفادة من أي خدمة مقدمة في المنصة.</li>
<li>المستخدم: يقصد بالمستخدم كل من له إمكانية الوصول إلى المنصة والاستفادة منها سواءً كان عميل أو مزود خدمة.</li>
<li>نحن صيغة المتحدث: تعني شركة سلاسل الإنشاءات لتقنية المعلومات أو مايمثلها قانونيا.</li>
<li>أنت صيغة المخاطب: العميل المستفيد من خدمات المنصة، وتراعى كافة التعبيرات المؤدية إلى ذلك.</li>
<li>العميل: هو كل مستخدم مسجل في المنصة بغرض الاستفادة من أي خدمة مقدمة في المنصة.</li>
<li>المستخدم: يقصد بالمستخدم كل من له إمكانية الوصول إلى المنصة والاستفادة منها سواءً كان عميل أو مزود خدمة.</li>
<li>نحن صيغة المتحدث: تعني شركة سلاسل الإنشاءات لتقنية المعلومات أو مايمثلها قانونيا.</li>
<li>أنت صيغة المخاطب: العميل المستفيد من خدمات المنصة، وتراعى كافة التعبيرات المؤدية إلى ذلك.</li>
<li>العميل: هو كل مستخدم مسجل في المنصة بغرض الاستفادة من أي خدمة مقدمة في المنصة.</li>
<li>المستخدم: يقصد بالمستخدم كل من له إمكانية الوصول إلى المنصة والاستفادة منها سواءً كان عميل أو مزود خدمة.</li>
<li>نحن صيغة المتحدث: تعني شركة سلاسل الإنشاءات لتقنية المعلومات أو مايمثلها قانونيا.</li>
<li>أنت صيغة المخاطب: العميل المستفيد من خدمات المنصة، وتراعى كافة التعبيرات المؤدية إلى ذلك.</li>
<li>العميل: هو كل مستخدم مسجل في المنصة بغرض الاستفادة من أي خدمة مقدمة في المنصة.</li>
<li>المستخدم: يقصد بالمستخدم كل من له إمكانية الوصول إلى المنصة والاستفادة منها سواءً كان عميل أو مزود خدمة.</li>
<li>نحن صيغة المتحدث: تعني شركة سلاسل الإنشاءات لتقنية المعلومات أو مايمثلها قانونيا.</li>
<li>أنت صيغة المخاطب: العميل المستفيد من خدمات المنصة، وتراعى كافة التعبيرات المؤدية إلى ذلك.</li>
<li>العميل: هو كل مستخدم مسجل في المنصة بغرض الاستفادة من أي خدمة مقدمة في المنصة.</li>
<li>المستخدم: يقصد بالمستخدم كل من له إمكانية الوصول إلى المنصة والاستفادة منها سواءً كان عميل أو مزود خدمة.</li>
<li>نحن صيغة المتحدث: تعني شركة سلاسل الإنشاءات لتقنية المعلومات أو مايمثلها قانونيا.</li>
<li>أنت صيغة المخاطب: العميل المستفيد من خدمات المنصة، وتراعى كافة التعبيرات المؤدية إلى ذلك.</li>
<li>العميل: هو كل مستخدم مسجل في المنصة بغرض الاستفادة من أي خدمة مقدمة في المنصة.</li>
<li>المستخدم: يقصد بالمستخدم كل من له إمكانية الوصول إلى المنصة والاستفادة منها سواءً كان عميل أو مزود خدمة.</li>
<li>نحن صيغة المتحدث: تعني شركة سلاسل الإنشاءات لتقنية المعلومات أو مايمثلها قانونيا.</li>
<li>أنت صيغة المخاطب: العميل المستفيد من خدمات المنصة، وتراعى كافة التعبيرات المؤدية إلى ذلك.</li>
<li>العميل: هو كل مستخدم مسجل في المنصة بغرض الاستفادة من أي خدمة مقدمة في المنصة.</li>
<li>المستخدم: يقصد بالمستخدم كل من له إمكانية الوصول إلى المنصة والاستفادة منها سواءً كان عميل أو مزود خدمة.</li>
<li>نحن صيغة المتحدث: تعني شركة سلاسل الإنشاءات لتقنية المعلومات أو مايمثلها قانونيا.</li>
<li>أنت صيغة المخاطب: العميل المستفيد من خدمات المنصة، وتراعى كافة التعبيرات المؤدية إلى ذلك.</li>
<li>العميل: هو كل مستخدم مسجل في المنصة بغرض الاستفادة من أي خدمة مقدمة في المنصة.</li>
<li>المستخدم: يقصد بالمستخدم كل من له إمكانية الوصول إلى المنصة والاستفادة منها سواءً كان عميل أو مزود خدمة.</li>
<li>نحن صيغة المتحدث: تعني شركة سلاسل الإنشاءات لتقنية المعلومات أو مايمثلها قانونيا.</li>
<li>أنت صيغة المخاطب: العميل المستفيد من خدمات المنصة، وتراعى كافة التعبيرات المؤدية إلى ذلك.</li>
<li>العميل: هو كل مستخدم مسجل في المنصة بغرض الاستفادة من أي خدمة مقدمة في المنصة.</li>
<li>المستخدم: يقصد بالمستخدم كل من له إمكانية الوصول إلى المنصة والاستفادة منها سواءً كان عميل أو مزود خدمة.</li>
<li>نحن صيغة المتحدث: تعني شركة سلاسل الإنشاءات لتقنية المعلومات أو مايمثلها قانونيا.</li>
<li>أنت صيغة المخاطب: العميل المستفيد من خدمات المنصة، وتراعى كافة التعبيرات المؤدية إلى ذلك.</li>
<li>العميل: هو كل مستخدم مسجل في المنصة بغرض الاستفادة من أي خدمة مقدمة في المنصة.</li>
<li>المستخدم: يقصد بالمستخدم كل من له إمكانية الوصول إلى المنصة والاستفادة منها سواءً كان عميل أو مزود خدمة.</li>
<li>نحن صيغة المتحدث: تعني شركة سلاسل الإنشاءات لتقنية المعلومات أو مايمثلها قانونيا.</li>

</ul>

</div>
</div>
