<div class="container-fluid ">
    <div class="CC-terms-header text-center d-flex flex-column justify-content-center align-items-center  cCC-bg-support1">
    <div class="mt-5">
    <p class="m-0 cCC-text-white font-Regular-s28" style="font-weight: 600;"> تواصل معنا</p>
    <p class="m-0 cCC-text-white font-Regular-s18">  يود فريقنا الودود أن يسمع منك  </p>
    </div>
    </div>
    <div class="container CC-contact-us-bg mt-5" dir="rtl">
        <div class="row ">
            <div class="col ">
                <label for="formGroupExampleInput" class="form-label font-Regular-s16">الأسم الاول</label>
              <input type="text" class="form-control font-Regular-s16" placeholder="الأسم الاول " aria-label="First name">
            </div>
            <div class="col">
                <label for="formGroupExampleInput" class="form-label font-Regular-s16">الأسم الأخير </label>
              <input type="text" class="form-control font-Regular-s16" placeholder="الأسم الأخير " aria-label="Last name">
            </div>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label font-Regular-s16">البريد الألكتروني </label>
            <input type="text" class="form-control font-Regular-s16" id="formGroupExampleInput" placeholder="Example@okhtboot.com">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label font-Regular-s16">رقم الجوال </label>
            <input type="text" class="form-control font-Regular-s16" id="formGroupExampleInput2" placeholder="000-0000-000 966+">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label font-Regular-s16">الرسالة</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="mb-3 mt-2" >
            <button class="w-100 bg-main CC-button-send cCC-text-white font-Regular-s16 ">ارسال</button>
            <p class="mt-3 font-Regular-s14">بالنقر فوق "إرسال رسالة" ، فإنك توافق على تلقي رسائل بريد إلكتروني ورسائل من فريقنا شكرا لتواصلك مع فريق دعم منشآت</p>
          </div>
    </div>

    </div>
    