
.CC-border-choose{
  border: 1px solid #132d4654;
    width: 300px;
  height: 280px;
  border-radius: 8px;
  box-shadow: 18px 18px 18px rgba(12, 14, 17, 0.1)
}

.CC-border-small{
  border-bottom: 1px solid #132d4654;
  border-left: 1px solid #132d4654;
  border-right: 1px solid #132d4654;
  width: 87px;
  height: 40px;
  top: -1px;
  background-color: white;
  border-radius: 0px 0px 20px 20px;
}
.CC-yello-position{
  top: -35px;
}
// `sm` applies to x-small devices (portrait phones, less than 576px)

@media (max-width: 575.98px) {
  .CC-border-small{
    border-bottom: 1px solid #132d4654;
    border-left: 1px solid #132d4654;
    border-right: 1px solid #132d4654;
    width: 85px;
    height: 40px;
    top: -1px;
    background-color: white;
    border-radius:0 0 8px 8px;
  }
  .CC-repo-card{
    justify-content: center !important;
  }
  .CC-q {
    flex-wrap: wrap;
margin-top: 40px !important;
gap: 20px;
  }
  .CC-title-choose {
    width: 100% !important;
  }
  .CC-row-col {
    display: block;
  }
  .CC-choose-text {
    font-size: 12px;
  }
  .CC-res-img {
    width: 280px;
  }
}
// `md` applies to small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {   .CC-q {
  flex-wrap: wrap;
margin-top: 40px !important;
gap: 20px;
} }

// `lg` applies to medium devices (tablets, less than 992px)

@media (max-width: 991.98px) {
  .CC-q {
    flex-wrap: wrap;
margin-top: 40px !important;
gap: 20px;
  }
}
