

<nav class="navbar navbar-expand-lg fixed-top contanier bg-white" >
  <div class="container d-flex" >

    <button class="navbar-toggler CC-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span ><i class="d-flex ic-res-icon iC-s-40"></i></span>
    </button>
    <div class="collapse navbar-collapse "  id="navbarText" dir="rtl" >

      <div class=""><i class="ic-Logo d-flex imCC-Background-Contain iC-s-48"></i></div>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-center font-Regular-s16 ">
        <li class="nav-item" >
          <a class="nav-link  position-relative"  aria-current="page" routerLink="/home" routerLinkActive="underline">الصفحة الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link position-relative" routerLink="/terms-and-conditions" routerLinkActive="underline">الشروط والاحكام</a>
        </li>
        <li class="nav-item">
          <a class="nav-link position-relative" routerLink="/contact-us" routerLinkActive="underline">تواصل معنا</a>
        </li>
      </ul>
      <div class=" " >
        <a class="navbar-brand float-end font-Regular-s16" href="#" routerLinkActive="active">en</a></div>
    </div>
 
  </div>
</nav>
