// font SemiBold
@font-face {
    font-family: Cairo-SemiBold;
    src: url('../assets/fonts/static/Cairo-SemiBold.ttf');
}

// font Meduim
@font-face {
    font-family: Cairo-Medium;
    src: url('../assets/fonts/static/Cairo-Medium.ttf');
}

// font Regular
@font-face {
    font-family: Cairo-Regular;
    src: url('../assets/fonts/static/Cairo-Regular.ttf');
}

// font Bold
@font-face {
    font-family: Cairo-Bold;
    src: url('../assets/fonts/static/Cairo-Bold.ttf');
}

// Regular  Size
.font-Regular-s14 {
    font-size: 14px !important;
    font-family: Cairo-Regular !important;
}
.font-Regular-s16 {
    font-size: 16px !important;
    font-family: Cairo-Regular !important;
}
.font-Regular-s18 {
    font-size: 18px !important;
    font-family: Cairo-Bold  !important;
}
.font-Regular-s20 {
  font-size: 20px !important;
  font-family: Cairo-Regular !important;
}
.font-Regular-s24 {
  font-size: 24px !important;
  font-family: Cairo-Regular !important;
}
.font-Regular-s28 {
  font-size: 32px !important;
  font-family: Cairo-Regular !important;
}
.font-Regular-s34 {
  font-size: 34px !important;
  font-family: Cairo-Regular !important;

}
.font-Regular-s38 {
  font-size: 38px !important;
  font-family: Cairo-Regular !important;
}
// Bold fonr
.font-Bold-s24 {
  font-size: 24px !important;
  font-family: Cairo-Bold !important;
}

// font SemiBold
.font-SemiBold-s20 {
  font-size: 20px !important;
  font-family: Cairo-SemiBold !important;
}
.font-SemiBold-s18 {
  font-size: 18px !important;
  font-family: Cairo-SemiBold !important;
}
.font-SemiBold-s28 {
  font-size: 28px !important;
  font-family: Cairo-SemiBold !important;
}