//Navbar Icons
.ic-Logo {
    background-image: url(../assets/icons/home/navbar/logo.svg);
  }
.ic-main-line {
  background-image: url(../assets/icons/home/background-header/main-line.svg);
}
.ic-icon-choose {
    background-image: url(../assets/icons/home/choose/bullseye.svg);
  }
  .ic-bg-choose {
    background-image: url(../assets/icons/home/choose/Subtract.svg);
  }
    .ic-yello {
    background-image: url(../assets/icons/home/choose/yello.svg);
  }
    .ic-yello-1 {
    background-image: url(../assets/icons/home/choose/group1.svg);
  }
    .ic-yello-2 {
    background-image: url(../assets/icons/home/choose/oil-change.svg);
  }
    .ic-yello-3 {
    background-image: url(../assets/icons/home/choose/Group3.svg);
  }
    .ic-yello-4 {
    background-image: url(../assets/icons/home/choose/group4.svg);
  }
  .ic-qr {
    background-image: url(../assets/icons/home/qr/Frame.svg);
  }
  .ic-qr-small {
    background-image: url(../assets/icons/home/qr/small-qr.svg);
  }

  .ic-android {
    background-image: url(../assets/icons/home/background-header/Google-Play.svg);
  }
  .ic-store {
    background-image: url(../assets/icons/home/background-header/App_Store.svg);
  }
  .ic-how-to-use {
    background-image: url(../assets/icons/home/how-to-use/how-to-use.svg);
  }
    .ic-Success-Partners {
    background-image: url(../assets/icons/home/Success-Partners/Success-Partners.svg);
  }
  .ic-test-drive {
    background-image: url(../assets/icons/home/trust-drive/test-drive.svg);
  }
  .ic-corect-mark {
    background-image: url(../assets/icons/home/how-to-use/corect-mark.svg);
  }
  .ic-instgram {
    background-image: url(../assets/icons/home/footer/instagram.svg);
  }
  .ic-facebook {
    background-image: url(../assets/icons/home/footer/facebook.svg);
  }
  .ic-twit {
    background-image: url(../assets/icons/home/footer/twit.svg);
  }
  .ic-send {
    background-image: url(../assets/icons/contact-us/Vector.svg);
  }
//icons size
.iC-s18 {
  width: 18px;
  height: 18px;
}
.iC-s170 {
  width: 170px;
  height: 14px;
}
.iC-s174 {
  width: 174px;
  height: 53px;
}
.iC-s153 {
  width: 153px;
  height: 51px;
}
.iC-s39 {
    width: 39px;
    height: 39px;
  }
  .iC-s20-8 {
    width: 20px;
    height: 20px;
  }
  .iC-s265 {
    width: 265px;
    height: 390px;
  }
  .iC-s271 {
    width: 265px;
    height: 390px;
  }
  .iC-s-img-card {
    width: 260px;
    height: 170px;
  }
  .iC-s-300 {
    width: 300px;
    height: 300px;
  }
  .iC-s-74 {
    width: 70px;
    height: 83px;
  }
  .iC-s-135 {
    width: 135px;
    height: 135px;
  }
  .iC-s-450 {
    width: 450px;
    height: 540px;
  }
  .iC-s-180 {
    width: 193px;
    height: 180px;
  }
  .iC-s-553 {
    width: 553px;
    height: 540px;
  }
  .iC-s-48 {
    width: 48px;
    height: 48px;
  }
  .iC-s-32 {
    width: 32px;
    height: 32px;
  }
  .iC-s-40 {
    width: 40px;
    height: 40px;
  }
  .iC-s-120 {
    width: 120px;
    height: 120px;
  }
