// Header Image
.img-home-bg {
    background-image: url(../assets/images/home/bg.svg);
}
.img-how-to-use-bg {
    background-image: url(../assets/images/home/how-to-use/how-to-use-img.svg);
}
.img-castrol {
    background-image: url(../assets/images/home/Success-Partners/aramco2.svg);
}
// .img-oil-change {
//     background-image: url(../assets/images/home/Success-Partners/oil-change.svg);
// }
.img-shell {
    background-image: url(../assets/images/home/Success-Partners/Rectangle.svg);
}
.img-valvo {
    background-image: url(../assets/images/home/Success-Partners/aramco.svg);
}

.img-trust {
    background-image: url(../assets/images/home/trust-drive/smart-phone.svg);
}

//All companies

.imCC-Background-Cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imCC-Background-Contain {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.imCC-Background-model-l {
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.imCC-Background-model-r{
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
