// START === General
.uCC-Click {
    cursor: pointer;
}
// border radius
.uCC-border-t-5{
    border-radius: 5px 5px 5px 5px;
}
.uCC-border-t-10{
    border-radius: 10px 10px 10px 10px;
}
.uCC-border-t-15{
    border-radius: 15px 15px 0 0;
}
.uCC-border-f-20{
    border-radius: 20px;
}
.uCC-border-h-50{
    border-radius: 50%;
}
.uCC-border-d-100{
    border-radius: 100px 100px 0 0 ;
}

//Gap 
.uCC-gap-8 {
    gap: 8px;
}
.uCC-gap-16 {
    gap: 16px;
    @media (max-width:500px) {
        gap:12px
    }
}
.uCC-gap-24 {
    gap: 24px;
    @media (max-width:1024px) {
        gap: 8px;
    }
}
.uCC-gap-32 {
    gap: 32px;
    @media (max-width:500px) {
        gap:40px;
    }
    @media (max-width:430px) {
        gap:25px;
    }
    @media (max-width:400px) {
        gap:40px;
    }
    @media (max-width:391px) {
        gap:15px;
    }
}
.uCC-gap-32-plus {
    gap: 24px;
    @media (max-width:1028px) {
        gap:14px;
    }
    @media (max-width:500px) {
        gap:12px;
    }
  
}
//circle
