<div class="mt-5 container">
    <div class="d-flex justify-content-center text-center mt-5">
        <div class="w-50 CC-res-w text-center">
            <div class="w-100 d-flex justify-content-center mb-3">
                <i class="d-flex ic-Success-Partners imCC-Background-Contain iC-s39"></i>
            </div>
            <p class="font-Regular-s28"><span>  شركاء النجاح</span></p>
            <p>
                <span class="font-Regular-s18 cCC-text-secondery">
                    يجعل آخطبوط من السهل الحفاظ على تشغيل سيارتك بسلاسة. جرب راحة عملية تغيير الزيت المبسطة في متناول يدك.
                </span>
            </p>
        </div>
    </div>
<div class="row d-flex justify-content-center">
    <div class="col-2"><i class="iC-s-180 w-100 img-castrol d-flex imCC-Background-Contain"></i></div>
    <div class="col-2"><i class="iC-s-180 w-100 img-oil-change d-flex imCC-Background-Contain"></i></div>
    <div class="col-2"><i class="iC-s-180 w-100 img-valvo d-flex imCC-Background-Contain"></i></div>
    <div class="col-2"><i class="iC-s-180 w-100 img-shell d-flex imCC-Background-Contain"></i></div>
    <div class="col-2"><i class="iC-s-180 w-100 img-valvo d-flex imCC-Background-Contain"></i></div>
    <div class="col-2"><i class="iC-s-180 w-100 img-castrol d-flex imCC-Background-Contain"></i></div>
</div>
</div>
