<!-- Success Partners -->
<div class="px-0 mt-5 pt-5 container">
    <div class="d-flex justify-content-center text-center mt-5">
        <div class="w-50 CC-res-w text-center">
            <div class="w-100 d-flex justify-content-center mb-3">
                <i class="d-flex ic-Success-Partners imCC-Background-Contain iC-s39"></i>
            </div>
            <p class="font-SemiBold-s28"><span>  شركاء النجاح</span></p>
            <p>
                <span class="font-Regular-s18 cCC-text-secondery">
                    يجعل آخطبوط من السهل الحفاظ على تشغيل سيارتك بسلاسة. جرب راحة عملية تغيير الزيت المبسطة في متناول يدك.
                </span>
            </p>
        </div>
    </div>
<!-- Success Partners img -->
<div class="row d-flex justify-content-center">
    <div class="col-2" *ngFor="let item of partners"><i class="iC-s-180 w-100  d-flex imCC-Background-Contain {{item.img}}"></i></div>
 
</div>
</div>
