<!-- <footer class="w-100 cCC-bg-support1 CC-res-height-footer mt-5" style="height: 400px;">
<div class="triangle-5 position-relative"><i class="ic-Logo iC-s-120 imCC-Background-Contain position-absolute d-flex" style="top: -150px;right: -60px;"></i></div>
<div class="d-flex flex-column mt-3 row  gap-3 w-100  position-relative" >
  <div class="col d-flex gap-3 cCC-text-white w-100 justify-content-center " >
  <a routerLink="/contact-us" class="cCC-text-white mt-2" style="text-decoration: none;"><p class="font-Regular-s16">تواصل معنا</p></a>
<div style="border: 1px solid white;"></div>
  <a routerLink="/terms-and-conditions" class="cCC-text-white mt-2" style="text-decoration: none;"><p class="font-Regular-s16">الشروط و الاحكام</p></a>

  </div>
  <div class="col d-flex justify-content-center gap-3">
<a href="#"><i class="ic-instgram d-flex iC-s20-8"></i></a>
<a href="#"><i class="ic-facebook d-flex iC-s20-8"></i></a>
<a href="#"><i class="ic-twit d-flex iC-s20-8"></i></a>
  </div>
  <div class="col cCC-text-white d-flex mt-3 justify-content-center font-Regular-s14">جميع حقوق الملكية محفوظة لشركة أخطبوط 2023</div>
  </div>
</footer>
 -->
<section class="">
  <!-- Footer -->
  <footer class="text-center text-white cCC-bg-support1 CC-a  mt-5 ">

    <!-- Grid container -->
    <div class="w-100 position-relative ">
      <!-- Section: CTA -->


      <section class=" w-100">
        <div class="triangle w-100">
          <div class="w-100 d-flex justify-content-center ">
            <i class="d-flex ic-Logo iC-s-120 imCC-Background-Contain position-absolute align-items-center CC-oct-img"
              ></i>
          </div>
        </div>

      </section>

      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->
    <div class="d-flex flex-column mt-3 justify-content-end  gap-3 w-100  position-relative">
      <div class="col d-flex gap-3 cCC-text-white w-100 justify-content-center ">
        <a routerLink="/contact-us" class="cCC-text-white mt-2" style="text-decoration: none;">
          <p class="font-Regular-s16">تواصل معنا</p>
        </a>
        <div style="border: 1px solid white;"></div>
        <a routerLink="/terms-and-conditions" class="cCC-text-white mt-2" style="text-decoration: none;">
          <p class="font-Regular-s16" style="margin-right: -32px;">الشروط و الاحكام</p>
        </a>

      </div>
      <div class="col d-flex justify-content-center gap-3">
        <a href="https://www.instagram.com/okhtbootksa/" target="_blank"><i class="ic-instgram d-flex iC-s20-8"></i></a>
        <a href="https://www.facebook.com/OKHTBOOTKSA/" target="_blank"><i class="ic-facebook d-flex iC-s20-8"></i></a>
        <a href="https://twitter.com/okhtbootksa" target="_blank"><i class="ic-twit d-flex iC-s20-8"></i></a>
      </div>
      <div class="col cCC-text-white d-flex mt-3 justify-content-center font-Regular-s14">جميع حقوق الملكية محفوظة
        لأخطبوط 2023</div>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
