.triangle-5 {
 
  border-left: 825px solid transparent;
  border-right: 825px solid transparent;
  border-top: 200px solid white;
}
.triangle {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
  overflow: hidden; /* Hide scrollbars */

}
@media (max-width: 991.98px){
  .triangle-5 {
 
    border-left-width: 340px;
    border-right-width: 421px;
    border-top: 161px solid #FFF;
    z-index: 999;
  }
}
@media (max-width: 575.98px) {
  .triangle-5 {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 210px;
    border-right-width: 181px;
    border-top: 161px solid #FFF;
    z-index: 999;
  }
}
