.CC-trust{
    width: 1280px;
    height: 472px;
    border-radius: 20px;
}
@media (max-width: 575.98px) {
  .CC-trust{
    width: 100% !important;
    height: 1045px;
    border-radius: 20px;
}
.CC-res-row{
  flex-direction: column-reverse !important;

}
.img-trust{
  width: auto;
}
.CC-res-drive{
  margin-top: 0 !important;
  width: 90px !important;
  height: 90px !important;
}
ul{
  padding-left: 0 !important;
}
}