<div class="container CC-trust cCC-bg-modal mt-5" >
    <div class="row position-relative d-flex CC-res-row flex-wrap p-0" >
        <div class="col   p-0" style=" margin-top: -70px;">
            <i class="d-flex img-trust imCC-Background-Contain iC-s-553 p-0"></i>
        </div>
        <div class="col " dir="rtl">
            <span class="d-flex align-items-center mt-2">
                <i class="ic-test-drive d-flex iC-s-48 imCC-Background-Contain CC-res-drive"></i>
                <p class="m-0 font-Bold-s24"> قد بثقة. . اختر آخطبوط لاحتياجات تغيير الزيت
                    الخاصة بك.</p>

            </span>
            <span class="">
                <ul style="list-style-type:square; padding-left: 2rem;" class="font-Regular-s16 cCC-text-secondery">
                    <li class="mt-3">في آخطبوط، نعتقد أن الحفاظ على سيارتك يجب أن يكون تجربة خالية من المتاعب. مهمتنا هي
                        تبسيط عملية تغيير الزيت وتزويدك بخدمة استثنائية وراحة وراحة البال.</li>
                    <li class="mt-3">أنضم إلى الآلاف من العملاء والشركات الراضين عن خدماتنا، الذين جعلوا أخطبوط تطبيق
                        أساسي لخدمة سياراتهم والحفاظ عليها</li>
                    <li class="mt-3">في أخطبوط نقوم بمتابعة حالة سيارتك أولاً بأول، فنقوم بتزويدك برسائل وإشعارات في حال
                        حان وقت تغيير الزيت أو الفلتر لسيارتك،وذلك لتذكيرك بمواعيد الصيانة والحفاظ على سيارتك، نحن فعلاً
                        نهتم في سيارتك . ابدأ رحلتك مع أخطبوط اليوم وجرب الفرق.</li>
                    <li class="mt-3">قم بالقيادة بثقة مع آخطبوط. سيارتك تستحق الأفضل، ونحن نوصلها مباشرة إلى عتبة داركم.
                    </li>

                </ul>
            </span>
            <span class="d-flex flex-column align-items-center">
                <p class="m-0 font-Bold-s24" > ابدأ رحلتك مع آخطبوط اليوم وجرب الفرق. ستشكرك
                    سيارتك.</p>
                    
            </span>
            <div class="d-flex mt-3">
                <i class="d-flex ic-android iC-s174 imCC-Background-Contain"></i>
                <i class="d-flex ic-store  imCC-Background-Contain" style="height: 51px; width: 123px;"></i>
            </div>
        </div>
    </div>
</div>