.CC-trust{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.CC-col-text{
  bottom: 0;
  right: 0;
width: 750px;
  height: 100%;
}
.CC-img-res{
left: -45px;
top: -40px;
}
// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { .CC-img-res{
  position: absolute !important;
width: 450px !important;
height: 450px !important;
top: 0;
}  }
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {   .CC-trust {
  display: flex;
  flex-direction: column-reverse;
}


.CC-img-res{
  position: static !important;
width: 450px !important;
height: 450px !important;
} }
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {    .CC-trust {
  display: flex;
  flex-direction: column-reverse;
}


.CC-img-res{
  position: static !important;
width: 450px !important;
height: 450px !important;
}}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {   .CC-trust {
  display: flex;
  flex-direction: column-reverse;
}


.CC-img-res{
  position: static !important;
width: 450px !important;
height: 450px !important;
} }




// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

  .CC-trust {
    display: flex;
    flex-direction: column-reverse;
  }


  .CC-img-res{
    position: static !important;
  width: 350px !important;
  height: 350px !important;
}
.container{
margin-top: 20px !important;
}
 }


// @media (max-width: 575.98px) {
//   .CC-col-text{
//     right: 0;
//     padding-left: 0px;
//   width: 100% !important;
//     height: 100%;

//   }
//   .CC-img-res{
//     position: relative !important;
//     margin-top: -50px !important;
//   }
//   .CC-trust{
//     width: 100% !important;
//     height: 100%;
//     border-radius: 20px;
//     margin-top: -70px !important;
// }
// .CC-res-row{
//   flex-direction: column-reverse !important;

// }
// .img-trust{
//   height: 334px;
// }
// .CC-res-drive{
//   margin-top: 0 !important;
//   width: 90px !important;
//   height: 90px !important;
// }
// ul{
//   padding-left: 0 !important;
// }
// }
// @media (max-width: 991.98px){
//   .CC-trust{
//     width: 100% !important;
//     height: 1045px;
//     border-radius: 20px;
// }
// .CC-res-row{
//   flex-direction: column-reverse !important;

// }
// .img-trust{
//   width: 100% !important;
// padding: 0;

// }
// .CC-res-drive{
//   margin-top: 0 !important;
//   width: 90px !important;
//   height: 90px !important;
// }
// ul{
//   padding-left: 0 !important;
// }
// }
